doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
        meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
        title #{title}
        meta(name='keywords',content='one')
        meta(name='description',content='picture,article,question,goods')
        meta(name='author' content='violet_qqy')
        link(rel='shortcut icon',href='images/logo/favicon.ico')
        link(rel='apple-touch-icon-precomposed',href='images/logo/one-icon.png')
        link(rel='stylesheet',href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='stylesheets/screen.css?v=1.1')
        script(src='lib/jquery/dist/jquery.min.js')
        script(src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='javascripts/app.js?v=1.1')
    body
        block content